/* @import 'page/page.css' */

@import 'page/main.css';
@import 'page/keyboard.css';
@import 'page/textbox.css';
@import 'page/menu.css';

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
ol{
    list-style: none;
    align-items: start;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}