form{
    display: inline;
}
.menu-modal-back-ground{
    background-color: rgba(0,0,0,0.35);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.menu-modal-back-ground-close{
    display: none;
}
.menu-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-width: 70%;
    background-color: white;
    color: black;
}
.menu-modal-close{
    display: none;
}
.text-menu-select{
    display: flex;
    flex-wrap: wrap;
}
.menu-check-box input{

}