form{
    display: inline;
}
.menu-modal-back-ground{
    background-color: rgba(0,0,0,0.35);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.menu-modal-back-ground-close{
    display: none;
}
.menu-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    color: black;
    border-radius: 5%;
}
.menu-modal-close{
    display: none;
}
.text-menu-select{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

.menu-check-box input{
    width: 15px;
    height: 15px;
    accent-color: #83c3d1;
}

.menu-check-box span  div{
    font-size: 0.8rem;
    color: red;
}

.menu-check-box input:checked~.menu-check-box{
    background-color: #83c3d1;
    color: #83c3d1;
}